<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Postit</Title>

    
    <!-- jQuery -->
    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    

    
    <!-- FONTS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- bootstrap -->
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
</head>
<header>
    <!-- <div class="p-1 jumbotron text-center">
        <h1> Postit </h1>
        <p> Do not forget </p>
    </div> -->


    <!-- <div class=" navbar bg-info ">
        <div class=" navbar-inner">
            <a class="brand text-white" href="#">POSTIT</a>
            <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/register">Sign up!</a>
                    </div>
            <button class="btn-nav btn-outline-light text-white my-2 my-sm-0" type="loginNavbar">Login</button>
        </div>
    </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Postit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="my-2 my-lg-0">
        {% if current_user.is_anonymous %}
          <button class="btn btn-outline-light my-2 my-sm-0" type="button" id="navbarLogin">Login</button>
          <button type="button" class="btn btn-warning" id="openRegistration">Registration</button>
        {% else %}
          <button class="btn btn-outline-light my-2 my-sm-0" type="button" id="navbarLogout">Logout</button>
        {% endif %}

    </form>
  </div>
</nav>

    

    <div class="container p-2">
        <div class="row">

        </div>
    </div>

               
</header>


    {% block content %}{% endblock %}

