{% extends "header.html" %}

{% block content %}
<body id="index">
    <script type="text/javascript" src="{{ url_for('static', filename='js/indexController.js') }}">
        </script>
<div  class="container">
    <div  class="row">
        <button id="addNote" type="button" class="btn btn-outline-success btn-block">Add note</button>
    </div>
</div>

{% include "login.html" %}

<!-- <?php require "login.php"; ?> -->

<!-- NOTES CONTAINER -->



<div class="p-2"> </div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-control">
            </div>
        </div>
        <div class="col">
                <div class="form-group">

                    <input id="bodyContent" type="text" placeholder="Content" class="form-control">
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col">
                <div class="form-group">
                    <input class="form-control" placeholder="Color" id="color">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input id="bodyContent" type="text" placeholder="Date" class="form-control">
                </div>
            </div>
    </div>
    
</div>

<div  class="p-3  container">
        <div id="notesCanvas" class="row">
        
        </div>
</div>

<!-- NOTE Edit Dialog -->
<!-- The Modal -->
<div class="modal fade" id="noteEditDialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div id="modalHeader" class="modal-header">
          <h5 class="modal-title">Note editor</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div id="noteErrorMessage" style="display:none" class="alert alert-danger alert-dismissible fade show">
                    
            </div>
            <div class="form-group">
                <label for="editTitle">Title:</label>
                <input id="editTitle" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="editBody">Body:</label>
                <textArea id="editBody" class="form-control" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="editColor">Color:</label>
                <button id="warning-color" type="button" class="btn btn-warning"></button>
                <button id="info-color" type="button" class="btn btn-info"></button>
                <button id="secondary-color" type="button" class="btn btn-secondary"></button>
                <button id="success-color" type="button" class="btn btn-success"></button>
                <button id="danger-color" type="button" class="btn btn-danger"></button>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="editPrivate">
                <label class="form-check-label" for="editPrivate">Private</label>
            </div>   
        </div>
        
        <!-- Modal footer -->
        <div id='editFooter' class="modal-footer">
            <button id="deleteNoteButton" type="button" class="btn btn-outline-danger float-left" data-dismiss="modal">Delete</button>

            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button id="save-button" type="button" class="btn btn-success">Save changes</button>
        </div>

        <div id='addFooter' class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button id="addButton" type="button" class="btn btn-success">Add</button>
        </div>
    
        
      </div>
    </div>
  </div>

<script>

</script>

</body>
{% endblock %}